body {
    font-family: Garamond;
    font-weight: bold;
    background-image: url('https://scontent-lcy1-1.xx.fbcdn.net/v/t1.15752-9/314402805_1279146009537747_6669007721436607350_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=-LrUOtbPUvcAX_-QLKX&_nc_ht=scontent-lcy1-1.xx&oh=03_AdQsZeCRrEUsVbHTTqa8fLnYXKrfCv8gARE2ATH1XU3QRg&oe=6394B49B');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%
}
h1 {
    color: #88233a;
    font-size: 65px;
}
.result {
    color: #0e5521;
    font-size: 40px;

    text-indent: 300px;
}
form {
    padding: 40px 300px;
    font-size: 40px;
}
label {
    text-indent: 50px;
}
select {
    text-align: center;
    font-size: 30px;
}
input {
    text-align: center;
    font-size: 30px;
    color: #88233a;
    width: 140px;
}
