<!DOCTYPE html>
<html lang="pl">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Currency calculator</title>
    {% endblock %}
    </head>
    <body>
        {% block content %}
        <form method="POST">
            <h1>CURRENCY CALCULATOR</h1>
            <br><label for="currency">Select the currency: </label>
                <select id="currency" name="currency">
                    {% for code in codes %}
                    <option value="{{ code }}" {% if code == currency %} selected="selected"{% endif %}>{{ code }}</option>
                    {% endfor %}
                </select>
            <br><br><label for="amount">Amount: </label>
            <input type="text" id="amount" name="amount" value="{{request.form['amount']}}">
            <br><br><input type="submit" value="Wymień">
            <br><br><label class="result">Amount in PLN: </label><label>{{ result }} zł</label>
        </form>
        {% endblock %}
    </body>
</html>